@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Wildcard selector to override basic html styles */

* {
    margin: 0;
    padding: 0;
}

/* General Styles */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 3.5rem;
    font-weight: 700;
    font-family: 'Poetsen One', sans-serif;

}

h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.5rem;
    text-align: center;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: bold;
}

.logo {
    max-width: 180px;
    position: absolute;
    padding: 1% 2%;
    transform: translateY(-50%);
    background: #0B0033;
    box-shadow: 5px 5px rgba(255, 255, 255, 0.5);
}

p {
    color: #000;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    font-family: "Bebas Neue", sans-serif;
}

main h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
}

/* Background color for active page */

.sub-nav-links ul li.active a {
    background: rgba(107, 98, 95, 0.452);
    border-radius: 20px;
    padding: 0 0.6em;
}

.booking-nav-links ul li.active a {
    background: rgba(156, 156, 156, 0.351);
    border-radius: 20px;
    padding: 0 0.6em;
}

/* Navbar */

nav {
    position: fixed;
    display: flex;
    padding-top: 1%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 999;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

/* Home Page */

/* Header */

.main-header {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: url(../../assets/images/main-header1.jpg) no-repeat center center/cover;

}
.text-box {
    width: 90%;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Poetsen One', sans-serif;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 1.5rem;
    color: #000;
    font-family: 'Bebas Neue', sans-serif;
}

/* Book Now Button */

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 12px 34px;
    background: #0B0033;
    cursor: pointer;
    font-family: 'Poetsen One', sans-serif;
}

.hero-btn:hover {
    border: 2px solid #000;
    color: rgb(0, 13, 255);
    background: #fff;
    transition: 0.5s;
}

/* Main */

/* Main color and push footer down */
main {
    background-color: whitesmoke;
    flex: 1 0 auto;
}

/* Main positioning */

main h1 {
    text-align: center;
    padding-top: 1rem;
}

/* Courses div sizing */

.courses div {
    width: 100%;
}

/* Where to find us boxes */

.locations {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.location-link::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #000;
    display: flex;
    margin: auto;
    transition: 0.5s;
}

.location-link:hover::after {
    width: 50%;
}

/* Main  */

/* Lessons/Rentals info */

#box-style1,
#box-style2,
#box-style3,
#box-style4 {
    background: #00b4d8;
    border: 2px solid #000;
    border-radius: 21px;
    padding: 1em;
    max-width: fit-content;
    margin: 1em 0;
    width: 100%;
    box-shadow: 8px 8px rgba(0, 180, 216, 0.5);
}

#box-style3,
#box-style4 {
    box-shadow: -8px 8px rgba(0, 180, 216, 0.5);
}

/* Style the locations boxes */

#find-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#find-us .surf-spots {
    flex-basis: 20%;
    margin: 10px;
    padding: 15px;
    background-color: rgba(81, 50, 255, 0.2);
    border-radius: 10px;
    text-align: center;
}

.surf-spots {
    height: 20rem;
}

.surf-spots a {
    text-decoration: none;
    color: #000;

}

/* Courses */

main h1 {
    text-align: center;
}

/* Make 2/4 courses show up on right of screen */

.courses {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.courses div {
    width: 100%;
}

.less {
    text-align: left;
    padding-top: 1em;
}

.rent {
    text-align: right;
    padding-top: 2rem;
}

#lessons {
    order: -1;
    padding-right: 4%;

}

#rentals {
    padding-left: 4%;
}


/* Where to find us images */
#banna-home {
    background: url(../../assets/images/banna-home.webp) no-repeat center center/cover;
}

#inch-home {
    background: url(../../assets/images/inch-home.webp) no-repeat center center/cover;
}

#castle-home {
    background: url(../../assets/images/castle-home.webp) no-repeat center center/cover;
}

#brandon-home {
    background: url(../../assets/images/bbay-home.jpeg) no-repeat center center/cover;
}

/* Locations Page */

/* Sub-header */

.sub-header {
    position: relative;
    min-height: 50vh;
    background: url(../../assets/images/locations-header.jpg) no-repeat center center/cover;
}

.sub-text-box {
    width: 90%;
    color: black;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

.sub-nav-links {
    flex: 1;
    text-align: right;
}

.sub-nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.sub-nav-links ul li a {
    color: #000;
    text-decoration: none;
    font-size: 1.1em;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
}

.sub-nav-links ul li::after {
    content: '';
    width: 0%;
    height: 3px;
    background-color: darkorange;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.sub-nav-links ul li:hover::after {
    width: 100%;
}

.sub-hero-btn:hover {
    border: 1px solid #000;
    color: #000;
    background: #fff;
    transition: 1s;
}

/* Main Content */

/* Beaches Section */

/* Positioning main content */

.beaches {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 0;
}

/* Directions Link */

.beach-div a {
    text-decoration: none;
    color: #fff;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 12px 34px;
    background: #0B0033;
    cursor: pointer;
    font-family: 'Poetsen One', sans-serif;
}

/* Hover effect */

.beach-div a:hover {
    border: 2px solid #000;
    color: rgb(0, 13, 255);
    background: #fff;
    transition: 0.5s;
}

/* Put 4 Divs in row */

/* Text left/Image right */

.beach-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

/* Image left/Text right */

.beach-div .reverse {
    flex-direction: row-reverse;
}

/* Style beach info box */

.color-box1,
.color-box2 {
    background: rgba(0, 254, 34, 0.686);
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    padding: 0.8em;
    width: 48%;
    z-index: 99;
}

.color-box2 {
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.3);
}

/* Image sizing and positioning */

.image-box1,
.image-box2 {
    width: 48%;
}

.image-box1 img,
.image-box2 img {
    width: 150%;
    border-radius: 20px;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.3);

}

.image-box1 img {
    transform: translateX(-35%);
}

.image-box2 img {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

/* Adjust the text alignment */

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}


/* Booking page */

.booking-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    color: #fff;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

#booking-form {
    padding: 1rem .5rem;
    color: #fff;
    border: 2px solid darkorange;
    background: rgba(0, 0, 0, .7);

}

/* Form styles */

form {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 20%;
    left: 25%;
    width: 50%;
    height: fit-content;
    border-radius: 20px;
    box-shadow: -20px 10px 20px rgba(0, 0, 0, 0.3);
}

form label {
    font-family: 'Oswald', sans-serif;
}

/* Book Here text */

.text-input {
    margin-bottom: .2em;
    width: 10rem;
    flex-grow: 1;
    padding: 0.25em;
}

/* Book now Button */

.book-button {
    display: inline-block;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Poetsen One', sans-serif;
    color: #fff;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 12px 34px;
    background: #0B0033;
    cursor: pointer;
}

.book-button:hover {
    border: 2px solid #000;
    color: rgb(0, 13, 255);
    background: #fff;
    transition: .5s;
}

/* Form radio Buttons */

form .radio-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.private {
    padding: 0 1em;
}

.group {
    padding: 0 1em;
}

.camp {
    padding: 0 1em;
}

/* Lesson Times adn Opening Hours */

.schedule {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 94%;
    max-width: 800px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #000;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

thead {
    background-color: #007BFF;
    color: #000;
}

tbody tr {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #989fff;
}

/* Booking page background image */

.booking-header {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: url(../../assets/images/booking-page.jpg) no-repeat center center/cover;
}

/* Change color of nav-links for booking page */

.booking-nav-links {
    flex: 1;
    text-align: right;
}

.booking-nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 5px;
    position: relative;
}

.booking-nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

.booking-nav-links ul li::after {
    content: '';
    width: 0%;
    height: 3px;
    background-color: darkorange;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.booking-nav-links ul li:hover::after {
    width: 100%;
}

/* Footer */

footer {
    background-color: #fc0202;
    padding: 1rem 0;
}

/* Positioning for the social media icons */

footer ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;

}

footer li {
    margin: 0 10px;
    flex-grow: 1;
    text-align: center;

}

footer a {
    display: inline-block;
    padding: 10px;
}

footer a i {
    color: #fff;
    font-size: 2rem;
}

footer a i:hover {
    color: #000; 
}

/* Hide nav-toggle initially on larger screens */

nav .fas {
    display: none;
}


/* Confirmation Page */

/* Confirmation page background image */

.confirm-header {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: url(../../assets/images/right--2.jpg) no-repeat center center/cover;
}

.text-box-conf {
    width: 48%;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Poetsen One', sans-serif;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}


/* Media Queries for screens 820px-913px */

 /* Media Queries */

@media(max-width: 913px) {
    
    /* increases surf spots images for smaller screens */

    #find-us .surf-spots {
        flex-basis: 40%;
        margin: 10px;
        padding: 15px;
        background-color: rgba(81, 50, 255, 0.2);
        border-radius: 10px;
        text-align: center;
    }
}

    /* Media Queries for screens 768px-820px */

    /* Beaches */

    @media(max-width: 820px) {

        /* increases surf spots images for smaller screens */

        #find-us .surf-spots {
            flex-basis: 40%;
            margin: 10px;
            padding: 15px;
            background-color: rgba(81, 50, 255, 0.2);
            border-radius: 10px;
            text-align: center;
        }

        .beach-div {
            flex-direction: column;
            align-items: center;
            letter-spacing: 0.25px;
        }

        .beach-div p {
            line-height: 1.5rem;
        }

        .beach-div.reverse {
            flex-direction: column;
            flex-direction: column-reverse;
            align-items: center;
        }

        .color-box,
        .image-box {
            width: 100%;
            max-width: 600px;
            height: auto;
            margin: 0 auto;

        }

        .color-box1,
        .color-box2 {
            background: rgba(0, 254, 34, 0.686);
            border-radius: 20px;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
            padding: 0.8em;
            width: 95%;
            margin: 0 auto;
        }

        .color-box2 {
            box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.3);
        }

        body {
            width: 100%;
        }

        h1 {
            font-family: 'Poetsen One', sans-serif;
            font-size: 2.5rem;
            font-weight: 500;
        }

        .text-box p {
            margin: 10px 0 40px;
            font-size: 1rem;
            font-weight: bold;
            color: #000;
            font-family: "Bebas Neue", sans-serif;
        }

        /* Home media Qs */

        /*navlinks */

        .nav-links ul li {
            display: block;
        }

        #x-1 {
            color: #000;
            display: block;
            font-size: 32px;
            cursor: pointer;
        }

        #x-2 {
            color: #fff;
            display: block;
            font-size: 32px;
            cursor: pointer;
        }

        #bars-1 {
            display: block;
            color: #000;
            font-size: 2em;
            cursor: pointer;
            padding: 0.5em 0.5em;
        }

        #bars-2 {
            display: block;
            color: #fff;
            font-size: 2em;
            cursor: pointer;
            padding: 0.5em 0.5em;
        }

        .nav-links ul {
            padding: 30px;
        }

        /* Logo  */

        .logo {
            max-width: 180px;
            height: 1.5rem;
        }

        #bars {

            padding: 3% 3%;
            position: fixed;
            right: 0;
        }

        /* Locations media Qs */

        /* Sub nav links */

        .sub-nav-links ul li {
            display: block;
        }

        .sub-nav-links {
            position: fixed;
            background: darkorange;
            height: 100%;
            width: 200px;
            top: 0;
            right: -200px;
            text-align: left;
            z-index: 999;
            transition: 0.5s;
        }

        .sub-nav-links ul {
            padding: 30px;
        }


        /* Booking media Qs */

        /* Booking nav links */

        .booking-nav-links ul li {
            display: block;
        }

        .booking-nav-links {
            position: fixed;
            background: darkorange;
            height: 100vh;
            width: 200px;
            top: 0;
            right: -200px;
            text-align: left;
            z-index: 999;
            transition: 0.5s;
        }

        .booking-nav-links ul {
            padding: 30px;
        }
    }


    /* Media Queries for screens up to 768px wide */

    @media(max-width: 768px) {

        body {
            width: 100%;
        }

        h1 {
            font-family: 'Poetsen One', sans-serif;
            font-size: 2.5rem;
            font-weight: 500;
        }

        .text-box p {
            margin: 10px 0 40px;
            font-size: 1rem;
            font-weight: bold;
            color: #000;
            font-family: "Bebas Neue", sans-serif;
        }

        /* Home media Qs */

        /*navlinks */

        .nav-links ul li {
            display: block;
        }

        #x-1 {
            color: #000;
            display: block;
            font-size: 32px;
            cursor: pointer;
        }

        #x-2 {
            color: #fff;
            display: block;
            font-size: 32px;
            cursor: pointer;
        }

        #bars-1 {
            display: block;
            color: #000;
            font-size: 2em;
            cursor: pointer;
            padding: 0.5em 0.5em;
        }

        #bars-2 {
            display: block;
            color: #fff;
            font-size: 2em;
            cursor: pointer;
            padding: 0.5em 0.5em;
        }

        .nav-links ul {
            padding: 30px;
        }

        /* Logo  */

        .logo {
            max-width: 180px;
            height: 1.5rem;
        }

        #bars {

            padding: 3% 3%;
            position: fixed;
            right: 0;
        }

        /* Locations media Qs */

        /* Sub nav links */

        .sub-nav-links ul li {
            display: block;
        }

        .sub-nav-links {
            position: fixed;
            background: darkorange;
            height: 100%;
            width: 200px;
            top: 0;
            right: -200px;
            text-align: left;
            z-index: 999;
            transition: 0.5s;
        }

        .sub-nav-links ul {
            padding: 30px;
        }

        /* increases surf spots images for smaller screens */

        #find-us .surf-spots {
            flex-basis: 40%;
            margin: 10px;
            padding: 15px;
            background-color: rgba(81, 50, 255, 0.2);
            border-radius: 10px;
            text-align: center;
        }

        /* Booking media Qs */

        /* Booking nav links */

        .booking-nav-links ul li {
            display: block;
        }

        .booking-nav-links {
            position: fixed;
            background: darkorange;
            height: 100vh;
            width: 200px;
            top: 0;
            right: -200px;
            text-align: left;
            z-index: 999;
            transition: 0.5s;
        }

        .booking-nav-links ul {
            padding: 30px;
        }
    }

    @media(max-width: 516px) {
        /* increases surf spots images for smaller screens */

        #find-us .surf-spots {
            flex-basis: 100%;
            margin: 10px;
            padding: 15px;
            background-color: rgba(81, 50, 255, 0.2);
            border-radius: 10px;
            text-align: center;
        }

    }

@media(max-width: 456px) {

    /* reduce font size for p element to keep content on screen */

    .beaches p {
        font-size: .95rem;
    }
}