@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Wildcard selector to override basic html styles */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poetsen One', sans-serif;
}

/* General Styles */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-family: 'Poetsen One', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: bolder;
}

p {
    font-family: 'Oswald', sans-serif;
}
.sub-nav-links ul li.active a {
    background: rgba(107, 98, 95, 0.452);
    border-radius: 20px;
    padding: 0 0.6em;
}

/* Header */

.main-header {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: url(../../assets/images/main-header1.jpg) no-repeat center center/cover;
}

.logo {
    max-width: 200px;
    position: absolute;
    padding: 2% 2%;
    transform: translateY(-50%);
}

/* Navbar */

nav {
    position: absolute;
    display: flex;
    padding-top: 1%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: darkorange;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 1.5rem;
    color: #000;
    font-family: 'Oswald', sans-serif;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 12px 34px;
    background: rgb(0, 13, 255);
    cursor: pointer;
}

.hero-btn:hover {
    border: 2px solid #000;
    color:  rgb(0, 13, 255);
    background: #fff;
    transition: 1s;
}

/* Main */

main {
    background-color: whitesmoke;
    flex: 1 0 auto;
}

main h1 {
    text-align: center;
    padding-top: 1rem;
}

.locations {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.location-link::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #000;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.location-link:hover::after {
    width: 50%;
}

main h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
}

p {
    color: #000;
    font-size: 1rem;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    font-family: "Bebas Neue", sans-serif;
}

/* Style the locations boxes */

#find-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#find-us .surf-spots {
    flex: 1 1 calc(20% - 20px);
    margin: 10px;
    padding: 20px;
    background-color: rgba(81, 50, 255, 0.2);
    border-radius: 10px;
    text-align: center;
}

.surf-spots {
    height: 20rem;
}

.surf-spots a {
    text-decoration: none;
    color: #000;

}

/* Courses */

main h1 {
    text-align: center;
}

/* Make 2/4 courses show up on right of screen */

.courses{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 0;
}

.courses div {
    width: 100%;
}

.rent {
    text-align: left;
    padding-top: 2rem;
}

.less {
    text-align: right;
    padding-top: 2rem;
}

#rentals{
    order: -1;
    padding-left: 2%;
}
 
#lessons {
    padding-top: 3rem;
    margin-left: auto;
    padding-right: 2%;
}


/* Where to find us images */
#banna-home {
    background: url(../../assets/images/banna-home.webp) no-repeat center center/cover;
}

#inch-home {
    background: url(../../assets/images/inch-home.webp) no-repeat center center/cover;
}

#castle-home {
    background: url(../../assets/images/castle-home.webp) no-repeat center center/cover;
}

#brandon-home {
    background: url(../../assets/images/brandon-home.jpeg) no-repeat center center/cover;
}

/* Locations Page */

/* Sub-header */

.sub-header {
    position: relative;
    min-height: 50vh;
    background: url(../../assets/images/sub-header2.jpg) no-repeat center center/cover;
}

.sub-text-box {
    width: 90%;
    color: black;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

.sub-nav-links {
    flex: 1;
    text-align: right;
}

.sub-nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.sub-nav-links ul li a {
    color: #000;
    text-decoration: none;
    font-size: 1.1em;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

.sub-nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: darkorange;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.sub-nav-links ul li:hover::after {
    width: 100%;
}

.sub-hero-btn:hover {
    border: 1px solid #000;
    color: #000;
    background: #fff;
    transition: 1s;
}

/* Main Content */

.beaches{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem 0;
}

.courses div {
    width: 100%;
}

.left {
    text-align: right;
    padding-top: 2rem;
}

.right {
    text-align: left;
    padding-top: 2rem;
}

.right-div {
    order:-1;
    padding-left: 2%;
}

.left-div {
    padding-top: 3rem;
    margin-left: auto;
    padding-right: 2%;
}

.beaches p {
    font-size: 1.2rem;
}

/* Booking page */

.booking-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    color: #fff;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

#booking-form {
    flex-grow: 1;
    padding: 1rem .5rem;
    color: #fff;
    border: 2px solid darkorange;
    background: rgba(0, 0, 0, .7);
}

form {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 20%; 
    left: 25%; 
    width: 50%; 
    height: fit-content;
}

form label {
    font-family: 'Oswald', sans-serif;
}

.text-input {
    margin-bottom: .2em;
    width: 10rem;
    flex-grow: 1;
    padding: 0.25em;
}

.join-button {
    display: inline-block;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Poetsen One', sans-serif;
    color: #fff;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 12px 34px;
    background: rgb(0, 13, 255);
    cursor: pointer;
}

.join-button:hover {
    border: 2px solid #000;
    color:  rgb(0, 13, 255);
    background: #fff;
    transition: 1s;
}


form .radio-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.private {
    padding: 0 1em;  
}

.group {
    padding: 0 1em;
}

.camp {
    padding: 0 1em;
}



.booking-header {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: url(../../assets/images/booking-page.jpg) no-repeat center center/cover;
}

.booking-nav-links {
    flex: 1;
    text-align: right;
}

.booking-nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.booking-nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    
}

.booking-nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: darkorange;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.booking-nav-links ul li:hover::after {
    width: 100%;
}




/* Footer */

footer {
    background-color: #fc0202;
    padding: 1rem 0;
}

/* Style for the list */

footer ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    
}

footer li {
    margin: 0 10px;
    flex-grow: 1;
    text-align: center;
   
}

footer a {
    display: inline-block;
    padding: 10px;
    
}

footer a i {
    color: #fff;
    font-size: 2rem;
}

/* Hide toggle initially on larger screens */

nav .fas {
    display: none;
}

/*
@media(max-width: 805px) {

    div #find-us {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        column-count: 2;
    }
}
*/


@media(max-width: 768px) {

    body {
        width: 100%;
    }
    h1 {
        font-family: 'Poetsen One', sans-serif;
        font-size: 2.5rem;
        font-weight: 500;
    }

    .text-box p {
        margin: 10px 0 40px;
        font-size: 1rem;
        font-weight: bold;
        color: #000;
        font-family: "Bebas Neue", sans-serif;
    }

    /* Home media Qs */ 

    /*navlinks */
    .nav-links ul li {
        display: block;
    }

    #x-1 {
        color: #000;
        display: block;
        font-size: 32px;
        cursor: pointer;
    }

    #x-2 {
        color: #fff;
        display: block;
        font-size: 32px;
        cursor: pointer;
    }

    .nav-links {
        position: fixed;
        background: darkorange;
        height: 100%;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: .5s;
    }
    #bars-1 {
        display: block;
        color: #000;
        font-size: 2em;
        cursor: pointer;
        padding: 0.5em 0.5em;
    }

    #bars-2 {
        display: block;
        color: #fff;
        font-size: 2em;
        cursor: pointer;
        padding: 0.5em 0.5em;
    }

    .nav-links ul {
        padding: 30px;
    }

    /* Logo  */
    .logo {
        max-width: 180px;
        height: 1.5rem;
    }
    #bars {
        
        padding: 3% 3%;
        position: fixed;
        right: 0;
        
    }
    /* Locations media Qs */

    /* Sub nav links */
    .sub-nav-links ul li {
        display: block;
    }
    .sub-nav-links {
        position: fixed;
        background: darkorange;
        height: 100%;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1.5s;
    }

    .sub-nav-links ul {
        padding: 30px;
    }

    /* Booking media Qs */
    /* Booking nav links */
    .booking-nav-links ul li {
        display: block;
    }
    .booking-nav-links {
        position: fixed;
        background: darkorange;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    .booking-nav-links ul {
        padding: 30px;
    }
}

@media(max-width: 456px) {

    /* reduce font size for p element to keep content on screen */
    
    .beaches p {
        font-size: .95rem;
    }
}

